<div class="home-page">
  <h1>~ Welcome to SteveDocs ~</h1>
  <img src="<%= asset_path( 'SteveBot.png' ) %>" />
  <h2>
    When will SteveBot be here to help you?
  </h2>
  <h1>
    In <%= distance_of_time_in_words(Time.now, Time.now.end_of_day) %>!!
    <br /><br />
    Thank you for listening to me spraff nonsense!
  </h1>
</div>